<div class="show-mobile">
  <div>
    <button (click)="toogleMenu()">
      <img src="../../../assets/images/svg/menu.png" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/images/svg/logo-tienda.png" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/images/svg/carrito.jpg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toogleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src=".../../../assets/images/svg/logo-tienda.png" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">Highsystem@gmail.com</div>
      <div>
        <a href="">
          <img src="../../../assets/images/svg/carrito.jpg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>

