<app-navbar></app-navbar>

<div class="d-flex justify-content-center align-items-center">
  <div class="card col-lg-5 mt-5">
    <div class="card-body">
      <div class="card-title">
        <hr>
        <div class="card-img mx-auto" style="width: 150px;">
          <h3>Login</h3>
        </div>
      </div>
      <hr>
      <div class="card-title col-lg-10 mx-auto">
        <p class="text-secondary mb-3">Debe iniciar sesión para acceder al sistema</p>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-secondary">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-secondary">No debes compartir tus credenciales.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-secondary">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label text-secondary" for="exampleCheck1">Recordarme</label>
        </div>
        <div class="d-grid gap-2 text-center">
          <hr>
          <a name="" id="" class="btn btn-outline-danger" href="" role="button">Volver a Inicio</a>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>
