.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  margin-bottom: 8px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 45vw !important;
  background-color: #f0f0f0;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.show {
  transform: translateX(0);
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
